<p style="color: green"><%= notice %></p>

<p>Run <code><%= command "keys" %></code> from the command line to view keys.</p>

<table id="api_keys">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @api_keys.each do |it| %>
      <tr>
        <th><%= link_to it.name, it %></th>
        <td><%= it.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New API key", new_api_key_path, role: "button" %>
