<p style="color: green"><%= notice %></p>

<%= render @api_key %>

<div>
  <%= link_to "Edit this api key", edit_api_key_path(@api_key) %> |
  <%= link_to "Back to api keys", api_keys_path %>

  <%= button_to "Destroy this api key", @api_key, method: :delete %>
</div>
